* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

.logo {
    width: 128px;
}

img {
    background-color: aliceblue;
}

main {
    background-color: rgb(43, 43, 43);
}